<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Christian Translator - Online Christian Text Translation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <style>
        #inputArea1 {
            margin-top: 20px;
        }
        .translate-buttons-group {
            margin: 20px 0;
        }
        .translate-button {
            margin: 20px 10px;
        }
    </style>
  </head>
  <body>
    <header class="p-3 mb-3 border-bottom">
      <div class="container d-flex flex-wrap justify-content-between">
        <p href="/" class="d-flex align-items-center mb-2 mb-lg-0 font-weight-bold">
        💬 Christian Translator (v1.1)
        </p>

        <div class="float-right">
          <small class="text-muted">Powered by GPT 3.5</small>
          <!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-end mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
          </ul> -->
        </div>
    </div>
    </header>
    <div class="container">
        <textarea class="form-control" id="inputArea1" rows="8" placeholder="Input here (在這裏輸入)"></textarea>

        <div class="d-flex justify-content-center translate-button-group">
            <button type="button" class="btn btn-outline-primary translate-button" id="translateButtonEnglish" onclick="translateText()" data-source-lang="chinese" data-target-lang="english">Translate to English</button>
            <button type="button" class="btn btn-outline-primary translate-button" id="translateButtonChinese" onclick="translateText()" data-source-lang="english" data-target-lang="chinese">Translate to Chinese</button>
        </div>

        <textarea class="form-control" id="inputArea2" rows="8" placeholder="Translated output here (翻譯會出現在這裡)"></textarea>
    </div>

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="mailto:tianqitong@outlook.com" class="nav-link px-2 text-muted">Report Issue</a></li>
          <li class="nav-item"><a href="https://www.svcae.cc" target="_blank" class="nav-link px-2 text-muted">My Church</a></li>
        </ul>
        <p class="text-center text-muted">Tech-savvy for Christ. <a href="mailto:tianqitong@outlook.com" class="px-2 text-muted">Contact Me</a> to contribute to this project together.</p>
      </footer>

      <script>
        function translateText() {
          let source_lang = event.target.getAttribute('data-source-lang');
          let target_lang = event.target.getAttribute('data-target-lang');

          const input1 = $( "#inputArea1" );
          const input2 = $( "#inputArea2" );

          if ($( "#inputArea1" ).val().length > 2000) {
            alert("The max length supported is 2000 chars");
          } else {
            input2.val("Translating... (please report issue if the wait is longer than 2min)");

            $.post({
              type: "POST",
              url: "/translate",
              data: JSON.stringify({ input: input1.val(), source_lang: source_lang, target_lang: target_lang }),
              contentType: "application/json",
              dataType: "json",
              success: function(data) {
                input2.val(data.translation);
              },
              error: function(error) {
                console.error(error);
                input2.val("Translation Error! Error message: " + error.responseText + "\nPlease email the error to: tianqitong@outlook.com");
              }
            })
          }
        }
      </script>
  </body>
</html>
